= {{ role_name }}
:toc: auto
:source-language: yaml

Role description

== Requirements

* *gather_subset:* `min`
* *Installed collections:*
  + See link:requirements.yml[requirements.yml]

== Role Variables

[source]
----

----

== Dependencies

Role [aux/repos/epel](https://galaxy.southbridge.io/roles/aux/repos/epel)

== Example Playbook

See link:tests/antest/site.yml[test site.yml].

== Example Variables

See link:tests/antest/inventory/hosts.yml[test hosts.yml]

