---
galaxy_info:
  role_name: {{ role_name }}
  description: Role descripion
  company: Southbridge LLC
  author: Nikolay Mesropyan
  min_ansible_version: 2.11
  license: BSD

  platforms:
    - name: EL
      versions:
        - 7

dependencies: []
...
